* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.container-login {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form {
  width: 360px;
  background-color: var(--color-bg-form);
  border: var(--color-boder-light);
  border-radius: 8px;
  box-shadow: var(--shadow-strong);
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 12px;
  margin: 100px 12px;
}

.login-form__input {
  size: 15px;
  padding: 7px;
}
.login-form h2 {
  align-self: center;
}
.login-form .busearch-btnton {
  font-weight: 700;
  color: var(--color-text-light);
  background-color: var(--color-text-muted);
  height: 45px;
  margin-top: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.password {
  position: relative;
  width: 100%;
}
.login-form__error {
  color: red;
  font-size: 14px;
  margin: 10px 0;
}

.open-register {
  margin: 12px 0;
  font-size: 15px;
  text-decoration: underline;
}
.open-register:hover {
  color: rgb(99, 96, 95);
}
.register-btn:hover {
  background-color: rgb(91, 91, 91);
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
