* {
  box-sizing: border-box;
}
.container_register {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-form {
  width: 400px;
  background-color: var(--color-bg-form);
  border: 1px solid var(--color-boder-light);
  border-radius: 8px;
  box-shadow: var(--shadow-strong);
  padding: 16px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 10px;
}
.container-name {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  column-gap: 10px;
  row-gap: 5px;
  width: 100%;
  box-sizing: border-box;
}

.container-name label {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.register-form h2 {
  
  align-self: center;
}

.password {
  position: relative;
  width: 100%;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}
.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}
