.main-content {
  display: grid;
  padding: var(--space-xs);
  background: var(--color-bg-body);
  min-height: 80vh;
  width: 100%;
}

.hero-section {
  min-height: 620px;
  background: url("/frontend/assets/image/banner.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 16px;
  padding: var(--space-xl);
  box-shadow: var(--shadow-md);
  margin-bottom: var(--space-xl);
}

.hero-section h1 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-sm);
}

.hero-subtitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--color-text-light);
  margin-bottom: var(--space-md);
}

.hero-button {
  background: var(--color-primary);
  color: white;
  border: none;
  padding: var(--space-sm) var(--space-lg);
  border-radius: var(--radius-md);
  font-size: var(--font-size-md);
  cursor: pointer;
}

.hero-button:hover {
  background: var(--color-primary-dark);
}

/* ===== PRODUCT GRID ===== */
.product-row {
  display: flex;
  overflow-x: auto; /* Cho phép kéo ngang */
  gap: 16px;
  padding: 10px 0;
  scroll-snap-type: x proximity;
}

/* Ẩn scrollbar trên Chrome/Safari */
.product-row::-webkit-scrollbar {
  display: none;
}

/* Card styling */
.card {
  min-width: 285px;
  min-height: 400px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  flex-shrink: 0; /* Ngăn card bị co lại */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* mobile: 1 cột */
@media (max-width: 599px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) and (max-width: 1499px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1500px) {
  .product-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
