* {
  box-sizing: border-box;
}
.container_register {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-form {
  width: 400px;
  background-color: var(--color-bg-form);
  border: 1px solid var(--color-boder-light);
  border-radius: 8px;
  box-shadow: var(--shadow-strong);
  padding: 16px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 10px;
}
.container-name {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  column-gap: 10px;
  row-gap: 5px;
  width: 100%;
  box-sizing: border-box;
}
.container-login input{
    size: 15px;
    padding: 7px;
}
.container-name input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.container-name label {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.register-form h2 {
  align-self: center;
}
.register-form button {
    
  font-weight: 700;
  color: var(--color-text-light);
  background-color: var(--color-text-muted);
  margin-top: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button:hover {
  border: 2px rgb(43, 39, 31);
  background-color: hsl(144, 5%, 79%);
}
.password {
  position: relative;
  width: 100%;
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
}
.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-25%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}
