spring:
  messages:
    basename: messages
    encoding: UTF-8

  sql:
    init:
      mode: never

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  flyway:
    enabled: true
    baseline-on-migrate: true
    baseline-version: 1
  data:
    redis:
      host: localhost
      port: 6379

springdoc:
  swagger-ui:
    path: /docs
  api-docs:
    path: /api-docs

file:
  upload-dir: ${FILE_UPLOAD_DIR:uploads}

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
