
html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; 
    background-color: var(--color-bg-body);
    color: #000000;
}
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.site-main{
   width: 100%;
}
h1, h2, h3, h4, h5 {
    margin: 0; 
    font-weight: 600;
}
p {
    margin: 0;
}